<secret-button></secret-button>
<ion-content>
  <ion-slides parallax pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
      <div [@bounce]='state' (@bounce.done)="animationDone($event)" class="slide-bg body-front">
      </div>
      <div class="slide-content" [@bounce]='state'>
        <h2>{{ 'ONBOARDING_HEADING1' | translate }}</h2>
        <p>{{ 'SLIDE1' | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-bg walking">
      </div>
      <div class="slide-content" [@bounce]='state'>
        <h2>{{ 'ONBOARDING_HEADING2' | translate }}</h2>
        <p>{{ 'SLIDE2' | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-bg running">
      </div>
      <div class="slide-content" [@bounce]='state'>
        <h2>{{ 'ONBOARDING_HEADING3' | translate }}</h2>
        <p>{{ 'SLIDE3' | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-bg body-front">
      </div>
      <div class="slide-content" [@bounce]='state'>
        <h2>{{ 'ONBOARDING_HEADING4' | translate }}</h2>
        <p>{{ 'SLIDE4' | translate }}</p>
      </div>
    </ion-slide>

  </ion-slides>

  <div class="skip-container">
    <button ion-button outline small (click)="skip()">{{ skipMessage }}</button>
  </div>
</ion-content>
