page-onboarding {
  .slide-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 15%;
    height: 66%;
    background-position: center bottom;
    background-repeat: no-repeat;


    &.body-front {
      background-image: url('../assets/img/front-body.svg')
    }
    &.walking {
      background-image: url('../assets/img/walking.svg')
    }
    &.running {
      background-image: url('../assets/img/running.svg')
    }
  }
  .slide-content {
    position: absolute;
    z-index: 2;
    top: 5% !important;
    width: 100%;

    h2 {
      font-weight: bold;
      font-size: 1em;
      width: 80%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    p {
      width: 80%;
      display: block;
      margin: 0 auto;
      font-size: .9em;
    }
  }
  .swiper-pagination {
    bottom: 12% !important;
  }
  .skip-container {
    width: 100%;
    position: absolute;
    bottom: 20px;
    background: none !important;
    text-align: center;
    cursor: pointer;
    z-index: 5;
  }
}
