<!--
  Generated template for the TestWalkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<secret-button></secret-button>
<ion-content padding>
  <ion-grid>

    <ion-row class="row">
      <ion-col class="col">
        <div text-center class="test-walk-txt">{{ 'TEST_WALK_TEXT' | translate }}</div>
      </ion-col>
    </ion-row>
   
    <ion-row class="row man-img-row">
      <ion-col class="col">
        <div class="man-img"></div>
      </ion-col>
    </ion-row>
    
    <ion-row class="row step-count-row" *ngIf="this.userPreferenceData.testWalkSuccess;else other_content">
      <ion-col class="col">
        <div class="walk-test-success"></div>
      </ion-col>
    </ion-row>

    <ng-template #other_content>
      <ion-row class="row step-count-row">
        <ion-col class="col">
          <div class="step-count">{{this.stepsTaken}}</div>
        </ion-col>
      </ion-row>
    </ng-template>      

  </ion-grid>
</ion-content>
