page-test-walk {
  .test-walk-txt
  {
    color: #B4B4B4;
    font-size: 15px;
    font-weight: bold;   
  }
  .man-img	
  {
    background-image: url('../../assets/img/vector_man.png');
    width: 117px;
    height: 311px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .step-count
  {
  	color: #2699FB;
  	font-size: 80px;
  	text-align: center;
  }
  .step-count-row, .man-img-row
  {
    margin-top:40px
  }
  .walk-test-success
  {
    background-image: url('../../assets/img/success-tick.png');
    width: 102px;
    height: 102px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;    
  }
}
