<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<secret-button></secret-button>
<ion-content padding>
  <ion-grid class="login-btn">

    <ion-row class="row" align-items-start>
      <ion-col class="col">
        <div text-center class="wlcm-txt">{{ 'WELCOME_TEXT' | translate }}</div>
      </ion-col>
    </ion-row>

		<form [formGroup]="loginForm" (ngSubmit)="login()">

		  <ion-item>
		    <ion-input [formControl]="loginForm.controls['name']"
		        type="text" placeholder="{{'NAME' | translate}}" required></ion-input>
		  </ion-item>
		  
		  <ion-item>
		    <ion-input [formControl]="loginForm.controls['password']"
		        type="password" placeholder="{{'PASSWORD' | translate}}" required></ion-input>
		  </ion-item>      

      <div class="btm-div">
        <ion-row class="row" align-items-center>
          <ion-col class="col">
            <button ion-button block primary [disabled]="!loginForm.valid">{{ 'LOGIN' | translate }}</button>
          </ion-col>
        </ion-row>
      </div>
		</form>

    <ion-row class="row"  align-items-center>
      <ion-col class="col">
        <button ion-button block outline (click)="goBack()">{{"CANCEL" | translate }}</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>