page-login {
	.wlcm-txt
	{
	  color: #2699FB;
	  font-family: Helvetica Neue, sans-serif;
	  font-size: 42px;
	  margin-top: 10vh;
	  margin-bottom: 6vh;	  
	}
	.login-btn .button-ios{
	  background-color: #2699FB;
	  font-size: 16px;
	  font-weight: bold;
	  margin: auto;
	  width:75%;
	}
	.login-btn .button-outline-ios
	{
		background: transparent;
		border-width: 2px;
		border-color: #BCE0FD;
		color: #2699FB;
		font-size: 13px;
	}
  .item-ios.item-block .item-inner {
    border-bottom: 1px solid #2699FB;
  }	
  .item-ios {
    color: #B4B4B4;
    font-size:21px; 
    margin: auto;
    width:75%;
  }
	.btm-div
	{
		margin-top: 8vh;
	}  
	.item-ios.item-label-floating .text-input {
    margin-top: 2px;
    margin-bottom: 6px;
	}	
	.text-input-ios::-moz-placeholder {
	  color: #B4B4B4;
	  font-size:21px; 
	}

	.text-input-ios:-ms-input-placeholder {
	  color: #B4B4B4;
	  font-size:21px;
	}

	.text-input-ios::-webkit-input-placeholder {
	  color: #B4B4B4;
	  font-size:21px;
	}	
	.text-input-ios
	{
		padding-left: 5px;
		margin: 11px 8px 8px 0;
	}
}
