<secret-button></secret-button>
<ion-content padding>
  <ion-grid class="auth-btn">

    <ion-row class="row">
      <ion-col class="col">
        <div text-center class="wlcm-txt">{{ 'WELCOME_TEXT' | translate }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <button ion-button block primary (click)="redirectToLoginPage()">{{ 'LOGIN' | translate }}</button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <button ion-button block outline (click)="redirectToSignupPage()">{{'SIGNUP'| translate}}</button>
      </ion-col>
    </ion-row>

    <div class="btm-div">
      <ion-row class="row">
        <ion-col class="col">
          <button ion-button block primary (click)="fblogin()"><ion-icon name="logo-facebook"></ion-icon> {{'FACEBOOK_LOGIN'| translate}}</button>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col">
          <button ion-button block primary (click)="gpluslogin()"><ion-icon name="logo-googleplus"></ion-icon> {{'GOOGLE_LOGIN'| translate}}</button>
        </ion-col>
      </ion-row>
    </div>    
  </ion-grid>
</ion-content>