page-authentication {
	/*used for welcome text*/
	.wlcm-txt
	{
	  color: #2699FB;
	  font-family: Helvetica Neue, sans-serif;
	  font-size: 42px;
	  margin-top: 10vh;
	  margin-bottom: 15vh;
	}
	.auth-btn .button-ios{
	  background-color: #2699FB;
	  font-size: 16px;
	  font-weight: bold;
	  margin: auto;
	  width:75%;
	}
	.auth-btn .button-outline-ios
	{
		background: transparent;
		border-width: 2px;
		border-color: #BCE0FD;
		color: #2699FB;
		font-size: 13px;
	}
	ion-icon
	{
		margin-right: 10px;
	}	
	.btm-div
	{
		margin-top: 14vh;
	}
}
