<ion-content padding class="no-scroll">
  <ion-grid>

    <ion-row class="row">
      <ion-col class="col">
        <div text-center class="track-pos-txt">
          {{ 'SHARE_RESULT_MODAL_TITLE' | translate }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-center>
          <ion-input type="email" placeholder="{{ 'SHARE_RESULT_MODAL_TO' | translate }}"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-center>
          <ion-input type="text" placeholder="{{ 'SHARE_RESULT_MODAL_SUBJECT' | translate }}"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <div text-center>
          <ion-icon name="attach" padding-right></ion-icon> {{ 'SHARE_RESULT_MODAL_ATTACHED' | translate }} -
          <span>{{ today }}</span>
        </div>
      </ion-col>
    </ion-row>

    <div class="btm-div">
      <ion-row class="row">
        <ion-col class="col">
          <button ion-button block primary (click)="close()" class="btn-cls">{{ 'SHARE_RESULT_MODAL_SHARE' | translate }}</button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="row">
      <ion-col class="col">
        <button ion-button block outline (click)="close()" class="btn-cls btn-cls-outline">{{ 'SHARE_RESULT_MODAL_CANCEL' | translate }}</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>