page-share-report-modal {
    .track-pos-txt {
        color: #2699FB;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial;
    }
    .track-pos-desc {
        color: #ACACAC;
        font-size: 17px;
        font-family: Arial, Regular;
    }
    .track-pos-desc-line {
        color: #ACACAC;
        font-size: 10px;
        font-family: Arial, Regular;
    }
    .btn-cls {
        background-color: #2699FB;
        font-size: 13px;
        font-weight: bold;
        margin: auto;
        width: 75%;
    }
    .btn-cls-outline {
        background: transparent;
        border-width: 2px;
        border-color: #BCE0FD;
        color: #2699FB;
        font-size: 13px;
    }
    .track-pos-tgl-txt {
        color: #B4B4B4;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
    }
    .modal-posture {
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        -o-flex-grow: 0;
        -moz-flex-grow: 0;
        flex-grow: 0;
    }
    .scroll-content {
        overflow-x: initial;
        overflow-y: initial;
    }
    &.ion-page>ion-content {
        -wekit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color: transparent;
    }
    &.ion-page {
        height: calc(100% - 20%);
        position: fixed;
        top: 20%;
        left: 80%;
        transform: translate(-80%, -20%);
    }
    .grid {
        background: #fff;
        -wekit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 15px 10px;
    }
    .button-md {
        text-transform: initial;
    }
    .post-togl {
        margin: auto;
        width: 75%;
    }
    .toggle-md {
        padding: 12px 0;
    }
    .item-ios .toggle {
        padding: 0px;
    }
    .togl-ion-item {
        padding: 0px;
    }
}

ion-modal {
    background-color: rgba(0, 0, 0, .5) !important;
    padding-left: 3vw;
    padding-right: 3vw;
}

.md .modal-wrapper {
    box-shadow: none;
}