<ion-tabs selectedIndex="2">
  <ion-tab [root]="homeTab" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="settingsTab" tabTitle="Settings" tabIcon="settings"></ion-tab>
  <ion-tab [root]="dashboardTab" tabTitle="Dashboard" tabIcon="body"></ion-tab>
</ion-tabs>
