<secret-button [color]="color"></secret-button>
<ion-header>
    <ion-navbar>
      <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="padding">

    <ion-card>
      <ion-card-header>
        {{ peripheral.name || 'Unnamed' }}
      </ion-card-header>
      <ion-card-content>
        {{ peripheral.id }}
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Services
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let service of peripheral.services">
          {{service}}
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Details
      </ion-card-header>
      <ion-card-content>
        <pre (click)="notify(peripheral.id)">{{peripheral | json }}</pre>
        {{testData | json}}
      </ion-card-content>
    </ion-card>
  </ion-content>
