<ion-content padding>

  <ion-grid>
    <ion-row class="row height-20-percent" [ngClass]="dashboardData.showCrossLegsTile">
      <ion-col class="col">
        <ion-slides pager>

          <ion-slide>
            <div>
              <h2>{{ 'DASHBOARD_CROSS_LEGS_LAST_TIME_DONE' | translate }}</h2>
              <p>{{ dashboardData.lastDateTimeCrossLegsDone }}</p>
            </div>
          </ion-slide>

          <ion-slide>
            <div>
              <h2>{{ 'DASHBOARD_CROSS_LEGS_AVERAGE_TIME_BETWEEN_VIOLATIONS' | translate }}</h2>
              <p>
                {{ dashboardData.crossLegsAverageTimeBetweenViolations }}
                <ion-icon name="trending-up"></ion-icon>
              </p>
            </div>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_WALKING_TOOLTIP' | translate }}" positionH="right" arrow id="step1">
          {{ 'DASHBOARD_WALKING' | translate }}
        </div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ 'DASHBOARD_TOTAL_STEPS' | translate }}</div>
        <div text-right>{{ dashboardData.walking }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_STEPS_THIS_SESSION_TOOLTIP' | translate }}" positionH="right" arrow id="step2">
          {{ 'DASHBOARD_STEPS_THIS_SESSION' | translate }}
        </div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.stepsThisSession }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_TOTAL_SESSIONS_TOOLTIP' | translate }}" positionH="right" arrow id="step3">
          {{ 'DASHBOARD_TOTAL_SESSIONS' | translate }}
        </div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.totalSessions }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_LAST_SESSION_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_LAST_SESSION' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.lastSessions }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_STEPS_LAST_SESSION_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_STEPS_LAST_SESSION' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.stepsLastSessions }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_WALKING_WITH_SCUFFING_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_WALKING_WITH_SCUFFING' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.walkingWithScuffing }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_RIGHT_LIMP_WALKING_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_RIGHT_LIMP_WALKING' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.rightLimpWalking }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_LEFT_LIMP_WALKING_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_LEFT_LIMP_WALKING' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.leftLimpWalking }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_RIGHT_TRENDELENBERG_WALKING_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_RIGHT_TRENDELENBERG_WALKING' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ dashboardData.rightTrendelenbergWalking }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <button ion-button block outline (click)="viewReport()">{{ 'DASHBOARD_VIEW_REPORT' | translate }}</button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="col">
        <div text-left tooltip="{{ 'DASHBOARD_RUNNING_TOOLTIP' | translate }}" positionH="right" arrow>{{ 'DASHBOARD_RUNNING' | translate }}</div>
      </ion-col>
      <ion-col class="col">
        <div text-right>{{ 'DASHBOARD_TOTAL_STEPS' | translate }}</div>
        <div text-right>{{ dashboardData.running }}</div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>