<secret-button [color]="color"></secret-button>
<ion-header>
  <ion-navbar>
    <ion-title>
      AKI Connect
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="scan()">
        Scan
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <device-list [devices]="devices"></device-list>
  </ion-list>
</ion-content>
