<!--
  Generated template for the CrossLegsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="no-scroll">
  <ion-grid>

    <ion-row class="row">
      <ion-col class="col">
        <div class="alert-ico"></div>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <div class="cross-leg-txt">{{ 'CROSS_LEG_TXT' | translate }}</div>
      </ion-col>
    </ion-row>  
    <ion-row class="row cross-leg-img-row">
      <ion-col class="col">
        <div class="cross-leg-img"></div>
      </ion-col>
    </ion-row>            
    <ion-row class="row">
      <ion-col class="col">
        <div text-center class="track-pos-desc">{{ 'TRACK_POSTURE_DESC' | translate }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="row track-pos-desc-row">
      <ion-col class="col">
        <div text-center class="track-pos-desc-line">{{ 'TRACK_POSTURE_DESC_LINE' | translate }}</div>
      </ion-col>
    </ion-row>

    <div class="btm-div">
      <ion-row class="row">
        <ion-col class="col">
          <button ion-button block primary (click)="storeTrackPosturePreference({trackPosture: true})" class="btn-cls">{{'YESBTN'| translate}}</button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="row">
      <ion-col class="col">
        <button ion-button block outline (click)="storeTrackPosturePreference({trackPosture: false})" class="btn-cls btn-cls-outline">{{'NOBTN'| translate}}</button>
      </ion-col>
    </ion-row>

    <ion-row class="row post-togl">
      <ion-col class="col col-10 modal-posture">
        <ion-item no-lines class="togl-ion-item">
          <ion-toggle class="toggle" [(ngModel)]="userPreferenceData.trackBadPosture" (change)="storeTrackPosturePreference()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col class="col">
        <span class="track-pos-tgl-txt">{{'TRACK_POS_TGL_TXT' | translate}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
