<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<secret-button [color]="color"></secret-button>
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="startOnboarding()">Onboard me and stuff!</button>
  </ion-toolbar>
  <ion-toolbar>
    <button ion-button full (click)="redirectToTestWalkPage()">Test Walk!</button>
  </ion-toolbar>   
</ion-footer>
