// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// used for succes toast message
  .toast-success .toast-message {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

// used for error toast message
.toast-error .toast-message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}