<ion-item *ngFor="let device of devices">
  <h2>{{device.getPeripheralId()}}</h2>
  <ion-buttons end>
    <button ion-button (click)="device.streamStart()">
      Start
    </button>
    <button ion-button (click)="device.streamStop()">
      Stop
    </button>
  </ion-buttons>
</ion-item>
