<!--
  Generated template for the TroublepairdevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<secret-button></secret-button>
<ion-content padding>
  <ion-grid>

    <div class="pair-device-info">
	    <ion-row class="row">
	      <ion-col class="col">
	        <div text-center class="pair-devise-heading1">{{ 'PAIRDEVICE_HEADING1' | translate }}</div>
	      </ion-col>
	    </ion-row>

	    <ion-row class="row">
	      <ion-col class="col">
	        <div text-center class="pair-devise-heading2">{{ 'PAIRDEVICE_HEADING2' | translate }}</div>
	      </ion-col>
	    </ion-row>

	    <ion-row class="row row-pair-dev-hed3">
	      <ion-col class="col">
	        <div text-center class="pair-devise-heading3">{{ 'PAIRDEVICE_HEADING3' | translate }}</div>
	      </ion-col>
	    </ion-row>
	  </div>  
    
    <div class="ilogo-div">
	    <ion-row class="row">
	      <ion-col class="col">
	        <div class="ilogo-img"></div>
	      </ion-col>
	    </ion-row>
	  </div>  

    <ion-row class="row row-trbl-txt">
      <ion-col class="col">
        <div text-center class="pair-devise-trouble-heading">{{ 'TROUBLEPAIRDEVICE_HEADING' | translate }}</div>
      </ion-col>
    </ion-row>

    <ion-row class="row row-pair-dev-hed4">
      <ion-col class="col">
        <div text-center class="pair-devise-heading4">{{ 'PAIRDEVICE_HEADING4' | translate }}</div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

