page-pair-device {
  font-family: arial;

  .pair-device-info
  {
    color: #B4B4B4;
    font-size: 17px;
    font-weight: bold;    
  }
  .pair-devise-heading1
  {
    margin-top: 30px;
  }
  .pair-devise-heading2
  {
    margin-top: 10px;
  }
  .pair-devise-heading3
  {  
    margin-top: 10px;  
  }  
  .ilogo-img
  {
    background-image: url('../assets/img/ilogo.png');
    height: 163px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 163px;    
  }
  .pair-devise-heading4
  {  
    color: #2699FB; 
    font-size: 16px;
    font-weight: bold;    
  }    
  .row-pair-dev-hed3
  {
    width: 70%;
    margin: auto;	
  }
  .ilogo-div
  {
    margin-top:80px;
  }
  .row-pair-dev-hed4
  {
    bottom:30px;
    position: fixed;
    left: 0;
    right: 0;
  }
  .is-pairing-img
  {
    background-image: url(../assets/img/pairing.gif);
    height: 65px;
    margin-top: 20px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110px;    
  }
}
