<ion-header>
  <ion-navbar>
    <ion-title>
      View Report
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-slides parallax pager (ionSlideDrag)="slideMoved()">

    <ion-slide>
      <div class="slide-bg">
      </div>
      <div class="slide-content" [@bounce]='state'>

        <ion-row class="row">
          <ion-col class="col">
            <div text-right>
              Walking
            </div>
          </ion-col>
          <ion-col class="col">
            <div text-right>Total Steps</div>
            <div text-right>12312</div>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Walking with Scuffing
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>1</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Right Limp Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>1</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Left Limp Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>1</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Right trendelenberg Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>0</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Left Trendelenberg Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>11</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Bilateral Pelvic Drop Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>0</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Right Pelvic Drop Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>10</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Left Pelvic Drop Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>10</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Bilateral Pelvic Rotation Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>10</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Right Pelvic Rotation Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>10</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <div text-left>
                Left Pelvic Rotation Walking
              </div>
            </ion-col>
            <ion-col class="col">
              <div text-right>10</div>
            </ion-col>
          </ion-row>

          <ion-row class="row">
            <ion-col class="col">
              <button ion-button block outline (click)="showShareReportModal()">
                <ion-icon name="attach" padding-right></ion-icon>
                Share Results
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <div [@bounce]='state' (@bounce.done)="animationDone($event)" class="slide-bg body-front">
      </div>
      <div class="slide-content" [@bounce]='state'>
        <ion-card>

          <ion-card-header>
            Bar Chart
          </ion-card-header>

          <ion-card-content>
            <bar-chart [data]="barChartData"></bar-chart>
          </ion-card-content>

        </ion-card>

        <ion-card>

          <ion-card-header>
            Line Chart
          </ion-card-header>

          <ion-card-content>
            <line-chart [data]="lineChartData"></line-chart>
          </ion-card-content>

        </ion-card>

        <ion-card>

          <ion-card-header>
            Pie Chart
          </ion-card-header>

          <ion-card-content>
            <pie-chart [data]="pieChartData"></pie-chart>
          </ion-card-content>

        </ion-card>


        <ion-card>

          <ion-card-header>
            Polar Chart
          </ion-card-header>

          <ion-card-content>
            <polar-chart [data]="polarChartData"></polar-chart>
          </ion-card-content>

        </ion-card>

      </div>
    </ion-slide>

  </ion-slides>

</ion-content>