page-view-report {
    .slide-bg {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 15%;
        height: 66%;
    }
    .slide-content {
        position: absolute;
        z-index: 2;
        top: 5% !important;
        width: 100%;
        h2 {
            font-weight: bold;
            font-size: 1em;
            width: 80%;
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        p {
            width: 80%;
            display: block;
            margin: 0 auto;
            font-size: .9em;
        }
    }
    .swiper-pagination {
        bottom: 10% !important;
    }
    .skip-container {
        width: 100%;
        position: absolute;
        bottom: 20px;
        background: none !important;
        text-align: center;
        cursor: pointer;
        z-index: 5;
    }
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }
    .no-scroll .scroll-content {
        overflow: hidden;
    }
}