secret-button {
  .scrt-btn
  {
    z-index: 99;
    background: none;
    box-shadow: none;
    height: 2.4em;
    position:absolute;

    &:hover {
      background: none;
    }
  }
  .greyColor
  {
    background: none;
    box-shadow: none;

    &:hover {
      background: none;
    }
  }
}
